div.container-fluid {
	margin: 0;
	padding: 0;
}

.bg-primary {
	background-color: #3f51b5!important;
}

.btn-primary {
	background-color: #3f51b5!important;
	color: #fff!important;
}


#chartdiv {
  width: 100%;
  height: 800px;
}